.dub
docs.json
__dummy.html
docs/
/i2d-pathfinder
i2d-pathfinder.so
i2d-pathfinder.dylib
i2d-pathfinder.dll
i2d-pathfinder.a
i2d-pathfinder.lib
i2d-pathfinder-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

dub.selections.json
out/